#programar{
  float: right;
  border-radius: 0px;
  color:#747474;
}

.obj {
background-color: #C9C9C9;
text-align: center;
}

.fc-widget-header{
    color: white;
}

.form-control{

  width: 160px !important;
  margin: 5px !important;
  border-radius: 0px !important;
}

#programarmodal{
  background-color:#dc4034;
  color: white;
  border-radius: 0px;
}

.modal-footer{
  border-top: 0px !important;
}

@media screen and (min-width: 767px) {
#tamañom{

   width: 755px !important;
}
}

.btn-round {
  background-color: white;
  border-radius: 999em;
  width: 76px;
  height: 76px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-color:#d23f31;
  line-height: 1;
  font-size: 26px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  float: center;

}

#calendar{
  padding-top: 30px;
}

#asignaciones-thead, #asignaciones-tbody{
  display: none;
}
